# Ignorar entorno virtual del cliente
venv-client/
venv-local/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de salida
*.srt
output_recording.wav

# Ignorar cache de Python
__pycache__/
*.pyc
*.pyo

# No ignorar la carpeta web
!web/
